:root {
    --text-color: white;
    --bkg-color: #121212;
    --device: #171717;
    --gray: #3B3B3B;
    --light-gray: #888888;
    --red: #C5363F;
    --blue: #446698;
    --green: #4F7D43;

    --shadow: -4px -4px 10px 5px rgba(255, 255, 255, 0.05), 4px 4px 10px 5px rgba(0, 0, 0, 0.6);
    --shadow-inline: inset -3px -3px 10px rgba(255, 255, 255, 0.1), inset 3px 3px 10px #000000;
    --border: 3px solid #3B3B3B;

    --space: 40px;
    --left-block-width: 300px;
    --padding-inside: 26px;
}

/*
@media (prefers-color-scheme: light) {
    :root {
        --text-color: black;
        --bkg-color: white;
    }
}
*/

/* Typography */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('./typography/source-sans-pro-v14-latin-regular.woff2') format('woff2'),
    url('./typography/source-sans-pro-v14-latin-regular.woff') format('woff');
}
/* source-sans-pro-600 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('./typography/source-sans-pro-v14-latin-600.woff2') format('woff2'),
    url('./typography/source-sans-pro-v14-latin-600.woff') format('woff');
}
/* source-sans-pro-700 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('./typography/source-sans-pro-v14-latin-700.woff2') format('woff2'),
    url('./typography/source-sans-pro-v14-latin-700.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    color: var(--text-color);
    background-color: var(--bkg-color);
}

/***** Time Block *****/

.device {
    background-color: var(--device);
    padding: var(--space);
    border-radius: var(--space);
    box-shadow: var(--shadow);
}

.time-block {
    display: flex;
    margin-bottom: var(--space);
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--left-block-width);
    padding: 0 var(--padding-inside);
    margin-right: var(--space);

    font-size: 90px;
    font-weight: 600;
    line-height: 60px;
    border: var(--border);
    border-radius: 16px;
    box-shadow: var(--shadow);
}

#start-stop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;

    font-size: 22px;
    font-weight: 700;
    color: var(--red);
    border-radius: 100%;
    border: 3px solid var(--red);
    box-shadow: var(--shadow), var(--shadow-inline);
}

#start-stop div:nth-child(2) {
    font-size: 11px;
}

/***** History Block *****/

.second-row {
    display: flex;
    justify-content: space-between;
}

.history-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: var(--left-block-width);
    height: 220px;
    padding: var(--padding-inside);

    font-size: 22px;
    border: var(--border);
    border-radius: 16px;
    box-shadow: var(--shadow);
}

/* History */

#history {
    width: 40%;
    overflow: hidden;
}

.history-item {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--light-gray);
    line-height: 28px;
}

.history-item-flag {
    width: 12px;
    height: 12px;
    margin-left: 6px;
    border-radius: 100%;
}

.history-item-marked {
    background-color: var(--blue);
}

.history-overlay {
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-radius: 10px;
    height: 90%;
    background: linear-gradient(rgba(23, 23, 23, 0) 50%, rgba(23, 23, 23, 1) 90%);
    width: 40%;
}

/* Buttons */

#ui-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 60%;
    margin-bottom: -10px;

    font-size: 16px;
    font-weight: 700;
    z-index: 10;
}

.ui-button {
    display: inline-block;
    border-radius: 6px;
    color: var(--bkg-color);
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: center;
}

#mark-button {
    background-color: var(--blue);
}

#delete-button, #delete-all-button {
    min-width: 105px;
    background-color: var(--red);
}

#enter-button {
    margin-top: auto;
    background-color: white;
}

#ui-buttons .ui-button-inactive {
    background-color: var(--gray);
}

/* Credits */

.credits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;

    font-size: 10px;
    font-weight: 600;
    color: var(--gray);
}

.credits p {
    line-height: 12px;
    padding-bottom: 6px;
}

.credits p:first-of-type {
    font-weight: 800;
}

.credits a {
    color: var(--gray);
    text-decoration: none;
    transition: color 200ms;
}

.credits a:hover {
    color: var(--light-gray);
}
