:root {
    --text-color: white;
    --bkg-color: #131313;
    --window-color: #101010;
    --warning-color: #e52270;
    --line-color: #1c1c1c;
}

/*
@media (prefers-color-scheme: light) {
    :root {
        --text-color: black;
        --bkg-color: white;
    }
}
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: var(--text-color);
    background-color: var(--window-color);
    padding: 50px;
    line-height: 1em;
}

ul {
    padding-left: 0;
    list-style: none;
}

/*** Time Block ***/

.ui-button-inactive {
    color: gray;
}

/* Old */

.time-block {
    padding: 60px;
    background-color: var(--bkg-color);
    border: solid 2px var(--line-color);
    border-radius: 20px;
}

#time {
    display: flex;
    font-size: 40px;
}

#time p {
    margin: 0;
    line-height: 1em;
}

#start-stop {
    width: 120px;
    height: 120px;
    border: solid 2px var(--warning-color);
    border-radius: 100%;
}

/*** History Block ***/

#history {
    margin-top: 20px;
}

.time-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.delete-icon {
    font-size: 12px;
    display: inline-block;
    height: 20px;
    background-color: var(--warning-color);
    margin-left: 10px;
    padding: 6px 12px 2px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 100ms;
}

.delete-icon span {
    display: inline-block;
    transform: translateY(2px);
}

.history-title {
    display: inline-block;
}

/*** Keyboard Block ***/
