:root {
    --text-color: white;
    --bkg-color: #121212;
    --surface: #171717;
    --gray: #1c1c1c;
    --red: #C5363F;
    --blue: #446698;
    --green: 4F7D43;
    --shadow: 2px 2px 10px 5px #000000 75%;

}

/*
@media (prefers-color-scheme: light) {
    :root {
        --text-color: black;
        --bkg-color: white;
    }
}
*/

/* Typography */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('./typography/source-sans-pro-v14-latin-regular.woff2') format('woff2'),
    url('./typography/source-sans-pro-v14-latin-regular.woff') format('woff');
}
/* source-sans-pro-600 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('./typography/source-sans-pro-v14-latin-600.woff2') format('woff2'),
    url('./typography/source-sans-pro-v14-latin-600.woff') format('woff');
}
/* source-sans-pro-700 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('./typography/source-sans-pro-v14-latin-700.woff2') format('woff2'),
    url('./typography/source-sans-pro-v14-latin-700.woff') format('woff');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
    background-color: var(--bkg-color);
    padding: 44px;
}

/* Elements */

.ui-button-inactive {
    color: gray;
}
